.header {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 60px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(42, 54, 59, 0.5);
    box-shadow: 0 0 10px #2a363b;
    border-radius: 7px;
}
